*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4ddb30;
}
.dev{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: Sansation;
    font-weight: 800;
    color: white;
   margin-top: 60px;
}
.popup{
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: Sansation;
    font-weight: 700;
    color: white;
    margin-top: 120px;
    padding: 5px;
    gap: 20px;
    letter-spacing: 1.3;
    font-weight: 700;
   
}
.typing-text{
    font-family: Sansation;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    width: 0;
    animation: typing 3s steps(30) forwards, blink 0.7s step-end infinite;
}
@keyframes typing{
    from{width: 0;}
    to{width: 100%;}
}
@keyframes blink{
    50% { border-color: transparent;}
}