* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, #f9e6b0 0%, #fff7ea 100%);
  color: #2b2b2b;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: linear-gradient(90deg, #fff7ea, #f9e6b0);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  color: #1a1a1a;
}

.logo i {
  font-size: 1.6rem;
  color: #c9a227;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #c9a227;
}

.btn {
  background-color: #c9a227;
  color: white;
  padding: 10px 18px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #a7881c;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 120px 20px;
  background: url('background.jpg') center/cover no-repeat;
  color: #fff;
  position: relative;
  width: 100vw;
  height: 95vh;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  line-height: 1.3;
  color: white;
  margin-bottom: 20px;
  font-weight: 900;
}

.hero p {
  margin: 15px 0;
  font-size: 1.5rem;
  color: #f4f4f4;
  margin-bottom: 40px;
}

.button-1 {
  background: #c9a227;
  padding: 15px;
  width: 140px;
  border: none;
  font-size: 1.3rem;
  border-radius: 1.2rem;
  color: #f4f4f4; 
  transition: all 0.3s ease;
  cursor: pointer;
}
.button-1:hover{
    background-color:black;
}

/* Products */
.products {
  text-align: center;
  padding: 64px;

}

.products h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #3b2f0c;
  
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
}

.card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.card a{
  text-decoration: none;
}
.card img a{
  text-decoration: none;
}
.card h3 a{
  text-decoration: none;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.8);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0;
  font-family: 'Playfair Display', serif;
  color: #3b2f0c;
}

/* Feedback */
.feedback {
  text-align: center;
  background: #fff7ea;
  padding: 80px 40px;
}

.feedback h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
  color: #3b2f0c;
}

.feedback-box {
  background: #f9e6b0;
  border-radius: 10px;
  padding: 25px 40px;
  display: inline-block;
  color: #2b2b2b;
  font-style: italic;
}

/* Footer */
footer {
  background: #c9a227;
  color: white;
  text-align: center;
  padding: 25px;
}

.socials a {
  color: white;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.socials a:hover {
  color:#fff7ea;
}